.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ql-toolbar {
  border-radius: 8px;
}
.ql-container {
  min-height: 500px;
  border-radius: 8px;
}

.ql-font-arial {
  font-family: Arial, sans-serif;
}
.ql-font-times-new-roman {
  font-family: "Times New Roman", serif;
}
.ql-font-calibri {
  font-family: Calibri, sans-serif;
}
.ql-font-comic-sans {
  font-family: "Comic Sans MS", cursive;
}

/* Font sizes */
.ql-size-8px {
  font-size: 8px;
}
.ql-size-10px {
  font-size: 10px;
}
.ql-size-12px {
  font-size: 12px;
}
.ql-size-14px {
  font-size: 14px;
}
.ql-size-16px {
  font-size: 16px;
}
.ql-size-18px {
  font-size: 18px;
}
.ql-size-20px {
  font-size: 20px;
}
.ql-size-24px {
  font-size: 24px;
}
.ql-size-28px {
  font-size: 28px;
}
